<%! import cherrypy %>
<html>
<head>
<link rel="stylesheet" type="text/css" href="${cherrypy.url('/media/style/style.css')}">
<script src="${cherrypy.url('/media/script/jquery.js')}"></script>
<script>
<%include file="/media/script/bridge.js"/>
</script>
<title>HueControl</title>
</head>
<body>

<div class="header">
<img src="${cherrypy.url('/media/images/hue-logo.png')}" /><font style="font-size:32px;font-weight:bold;vertical-align:15">HueControl</font>
<div style="float:right;">Bridge Ip: <a href="http://${BRIDGE_IP}/" style='color:white'>${BRIDGE_IP}</a></div>
</div>
<div style="width:100%; margin:0; padding:0;min-height:500px">
%if error != "":
    <p class="error">${error}</p>
%else:
<div class="menu">
<h3> Plugins </h3>
<ul>
%for plugin in plugins:
<li><a href="${cherrypy.url('/plugins/' + plugin)}">${plugin}</a></li>
%endfor
</ul>
</div>
<div class="content">
${PLUGIN_CONTENT}
%endif
</div>
</body>
</html>